.home-helloworld{
    font-size: 84px;
    padding-left: 30px;
    /*background: -webkit-linear-gradient(rgb(0, 255, 106), rgb(0, 3, 34));*/
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(0deg, rgb(165, 224, 145) 20%, rgb(233, 109, 101) 80%) repeat scroll 0% 0% padding-box text;;
    -webkit-text-fill-color: transparent;
    text-align:left;
}
.home-container{
  padding-top:100px;
}

.home-introduction{
    font-size:38px;
    color: rgb(180, 180, 180);
    text-align: right;
}
.home-description{
    font-size: 24px;
    color: rgb(180, 180, 180);
    text-align:center;
}

.home-textwrapper{
    max-width: 440px;
    padding-top: 0;
    padding-bottom: 60px;
    flex-wrap: wrap;
    overflow-wrap:break-word;
    text-align: center;
}
.home-col {
  max-width: 50%;
  max-height: 555px;
  flex-basis: 50%;
  flex: 1;
  flex-direction: column;
  display: flex;
}

 .home-row {
    display: flex;
    align-content: stretch;
    max-height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
}

.home-skill-item{
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
}
.home-skill-section{
  margin: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  
}

.home-my-skills-text{
  font-size: 84px;
  background: rgba(0, 0, 0, 0) -webkit-linear-gradient(0deg, rgb(165, 224, 145) 20%, rgb(233, 109, 101) 80%) repeat scroll 0% 0% padding-box text;;
  -webkit-text-fill-color: transparent;

}

.home-programs{
  
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }


  @media screen and (max-width: 991px) {
    .home-container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  
@media screen and (max-width: 768px) {
    .home-textwrapper {
      padding-bottom: 65px;
    }
  
    .col {
      max-width: 100%;
      flex-basis: 100%;
    }
  }