.App {
  text-align: center;
}

.Body{
  /* background-color:#282c34; */
  /* background-image: linear-gradient(to bottom right, #181818,#000000); */
  background-image: url(./components/pages/Shared/skyCut.jpg);
  margin:0;
  border:0;
  padding: 0;
  height: fit-content;
  max-height: 100%;
}
.Wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.test{
  background-image: url(./components/pages/Shared/skyPart.png);
  background-blend-mode:screen ;
  height: 100%;
}

.Footer-Spacer{
  width: 100%;
  height: 60px;
  display: absolute;
}

.Content{
  font-family: "times new roman", serif;
  font-size: 1.2em;
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  /* background-image: linear-gradient(to bottom right, #181818,#000000); */
  /* background-image: linear-gradient(to bottom right, #182637, #25564F,#2F2556); */
  /* background-image: linear-gradient(to bottom, #182637, #25564F,#2F2556); */
  background-image: url(./components/pages/Shared/sky.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  padding: 20px;
  text-align: center;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(85, 85, 85) rgba(49, 49, 49, 0.425);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: rgba(49, 49, 49, 0.425);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(85, 85, 85)
}