.App {
  text-align: center;
}

.Body{
  /* background-color:#282c34; */
  background-image: linear-gradient(to bottom right, #181818,#000000);
  margin:0;
  border:0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
.Wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Content{
  font-family: "times new roman", serif;
  font-size: 1.2em;
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-image: linear-gradient(to bottom right, #181818,#000000);
  padding: 20px;
  text-align: center;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(85, 85, 85) rgba(49, 49, 49, 0.425);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: rgba(49, 49, 49, 0.425);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(85, 85, 85)
}